.container{
    padding: 29px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
    margin-right: auto;
    gap: 10px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.fine{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.fine:hover{
    background-color: #7A70BA;
}

.icons{
    gap: 20px;
    display: flex;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input{
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}

.icons{
    display: flex;
    gap: 20px;
}