.container{
    height: 450px;
    background-color: var(--bgSoft);
    padding: 20px;border-radius: 10px;
}

.title{
        font-weight: 200;
        color: var(--textSoft);
        margin-bottom: 20px;
}

.container .ab{
    transition: transform.3s ease-out;
}
.container:hover .ab{
    transform: translateY(-0.5rem);
}