.container{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
}

.container:hover,
 .active{
    background-color: #7a70ba;
}

.container{
    transition: transform.3s ease-out;
}

.container:hover {
    transform: translateY(-0.2rem);
}